
<app-header></app-header>

<body>
   
<div class="container p-destacados" style="margin-top: 70px;">
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let producto of productos">
        <div class="card text-center border-dark " style="box-shadow: 0px 0px 9px 4px grey;">
          <div class="card-header">
              <img src={{producto.imagen}} class="card-img-top" alt="...">
          </div>
          <div class="card-body">
              <h5 class="card-title">{{producto.nombreProducto}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{producto.categoria}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{producto.descripcion}}</h6>
          </div>
          <div class="card-footer text-muted">
            <!--<a routerLink="/form">-->
              <button class="btn btn-primary"  (click)="completarFormulario()" >solicitar donacion</button>
            <!--</a>-->

          </div>

        </div>
      </div>
    </div>
</div>
</body>
