

<body>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <div class="row"> ... </div>
  <h1 class="card-subtitle mb-2 text-muted" class="p-2 bg-secondary text-white">
    Se envió la confirmación al usuario mediante un mail. Muchas gracias!
  </h1>

  <div class="col">
    <button type="button" class="btn btn-outline-dark" (click)="volverAlHome()">
       <small >Volver al Home</small><i class="fa fa-angle-double-left"></i>
    </button>
  </div>
</body>