
<body>
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logobig.png" width="295" height="185" alt="logotipo completo">
      </a>
      <a class="centrar">Bienvenidos a Manos a la Obra</a>
<div class="card-body">
  <form class="custom-form" method="post">

   <!-- <h1> ManosALaObra </h1>-->

    <div class="btn-group btn-group-justified ">
      
        <button type="button" class="btn btn-outline-light" (click)="signInWithGoogle()" >
         <i class="fa fa-google" aria-hidden="true"> </i><i>iniciar sesion con Google</i>
        </button>
    </div>
    

  </form>
</div>
</body>