
<body>
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logobig.png" height="150px" width="250px" alt="logotipo">
        
       </a>
<div class="card-body">
  <form class="custom-form" method="post">

   <!-- <h1> ManosALaObra </h1>-->
   <h3>Bienvenidos a Manos A la Obra
  </h3>

    <div class="btn-group btn-group-justified ">
      
        <button type="button" class="btn btn-outline-light" (click)="signInWithGoogle()" >
         <i class="fa fa-google" aria-hidden="true"> </i><i>Iniciar Sesión con Google</i>
        </button>
    </div>
    

  </form>
</div>
</body>